In [35]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Optimizer
from tensorflow.keras.models import Sequential
from keras.callbacks import ModelCheckpoint

In [36]:
train=pd.read_csv("veriler\datathon\\train.csv")
test=pd.read_csv("veriler\datathon\\testFeatures.csv")

In [37]:
sutunisimler=["tarih","urun","besin","kategori","fiyat","uretimyeri","market","sehir"]
train.columns=sutunisimler

In [38]:
sutunisimler=["id","tarih","urun","besin","kategori","uretimyeri","market","sehir"]
test.columns=sutunisimler

In [39]:
train=train.sort_values(by='fiyat', ascending=False)

In [40]:
'''train=deneme.iloc[2000:,:]
train=train.sort_index()'''

'train=deneme.iloc[2000:,:]\ntrain=train.sort_index()'

In [41]:
train['tarih'] = pd.to_datetime(train['tarih'])

In [42]:
tarih2016=train[train["tarih"].dt.year==2016]
tarih2017=train[train["tarih"].dt.year==2017]
tarih2018=train[train["tarih"].dt.year==2018]
tarih2019=train[train["tarih"].dt.year==2019]
tarih2020=train[train["tarih"].dt.year==2020]

In [43]:
tarih2016["tarih"] =tarih2016["tarih"].astype(str)
tarih2017["tarih"] =tarih2017["tarih"].astype(str)
tarih2018["tarih"] =tarih2018["tarih"].astype(str)
tarih2019["tarih"] =tarih2019["tarih"].astype(str)
tarih2020["tarih"] =tarih2020["tarih"].astype(str)

C:\Users\dogru\AppData\Local\Temp\ipykernel_3536\1908661903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tarih2016["tarih"] =tarih2016["tarih"].astype(str)
C:\Users\dogru\AppData\Local\Temp\ipykernel_3536\1908661903.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tarih2017["tarih"] =tarih2017["tarih"].astype(str)
C:\Users\dogru\AppData\Local\Temp\ipykernel_3536\1908661903.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tarih2018["tarih"] =tarih2018["tarih"].astype(str)
C:\Users\dogru\AppData\Local\Temp\ipykernel_3536\1908661903.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tarih2019["tarih"] =tarih2019["tarih"].astype(str)
C:\Users\dogru\AppData\Local\Temp\ipykernel_3536\1908661903.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tarih2020["tarih"] =tarih2020["tarih"].astype(str)

In [44]:
one_hot = pd.get_dummies(test[['tarih','urun','kategori','uretimyeri','market','sehir','besin']])
test = test.drop(["id",'tarih','urun','kategori','uretimyeri','market','sehir','besin'],axis = 1)

test = test.join(one_hot)
test.rename(columns={'tarih_2021-01-01': 'ocak', 'tarih_2021-02-01': 'subat', 'tarih_2021-03-01': 'mart'
                        , 'tarih_2021-04-01': 'nisan', 'tarih_2021-05-01': 'mayis', 'tarih_2021-06-01': 'haziran'
                        , 'tarih_2021-07-01': 'temmuz', 'tarih_2021-08-01': 'agustos', 'tarih_2021-09-01': 'eylul'
                        , 'tarih_2021-10-01': 'ekim', 'tarih_2021-11-01': 'kasim', 'tarih_2021-12-01': 'aralik'}, inplace=True)

In [45]:
one_hot = pd.get_dummies(tarih2016[['tarih','urun','kategori','uretimyeri','market','sehir','besin']])
tarih2016 = tarih2016.drop(['tarih','urun','kategori','uretimyeri','market','sehir','besin'],axis = 1)

tarih2016 = tarih2016.join(one_hot)
tarih2016.rename(columns={'tarih_2016-01-01': 'ocak', 'tarih_2016-02-01': 'subat', 'tarih_2016-03-01': 'mart'
                         , 'tarih_2016-04-01': 'nisan', 'tarih_2016-05-01': 'mayis', 'tarih_2016-06-01': 'haziran'
                         , 'tarih_2016-07-01': 'temmuz', 'tarih_2016-08-01': 'agustos', 'tarih_2016-09-01': 'eylul'
                         , 'tarih_2016-10-01': 'ekim', 'tarih_2016-11-01': 'kasim', 'tarih_2016-12-01': 'aralik'}, inplace=True)

In [46]:
one_hot = pd.get_dummies(tarih2017[['tarih','urun','kategori','uretimyeri','market','sehir','besin']])
tarih2017 = tarih2017.drop(['tarih','urun','kategori','uretimyeri','market','sehir','besin'],axis = 1)

tarih2017 = tarih2017.join(one_hot)
tarih2017.rename(columns={'tarih_2017-01-01': 'ocak', 'tarih_2017-02-01': 'subat', 'tarih_2017-03-01': 'mart'
                         , 'tarih_2017-04-01': 'nisan', 'tarih_2017-05-01': 'mayis', 'tarih_2017-06-01': 'haziran'
                         , 'tarih_2017-07-01': 'temmuz', 'tarih_2017-08-01': 'agustos', 'tarih_2017-09-01': 'eylul'
                         , 'tarih_2017-10-01': 'ekim', 'tarih_2017-11-01': 'kasim', 'tarih_2017-12-01': 'aralik'}, inplace=True)

In [47]:
one_hot = pd.get_dummies(tarih2018[['tarih','urun','kategori','uretimyeri','market','sehir','besin']])
tarih2018 = tarih2018.drop(['tarih','urun','kategori','uretimyeri','market','sehir','besin'],axis = 1)

tarih2018 = tarih2018.join(one_hot)
tarih2018.rename(columns={'tarih_2018-01-01': 'ocak', 'tarih_2018-02-01': 'subat', 'tarih_2018-03-01': 'mart'
                         , 'tarih_2018-04-01': 'nisan', 'tarih_2018-05-01': 'mayis', 'tarih_2018-06-01': 'haziran'
                         , 'tarih_2018-07-01': 'temmuz', 'tarih_2018-08-01': 'agustos', 'tarih_2018-09-01': 'eylul'
                         , 'tarih_2018-10-01': 'ekim', 'tarih_2018-11-01': 'kasim', 'tarih_2018-12-01': 'aralik'}, inplace=True)

In [48]:
one_hot = pd.get_dummies(tarih2019[['tarih','urun','kategori','uretimyeri','market','sehir','besin']])
tarih2019 = tarih2019.drop(['tarih','urun','kategori','uretimyeri','market','sehir','besin'],axis = 1)

tarih2019 = tarih2019.join(one_hot)
tarih2019.rename(columns={'tarih_2019-01-01': 'ocak', 'tarih_2019-02-01': 'subat', 'tarih_2019-03-01': 'mart'
                         , 'tarih_2019-04-01': 'nisan', 'tarih_2019-05-01': 'mayis', 'tarih_2019-06-01': 'haziran'
                         , 'tarih_2019-07-01': 'temmuz', 'tarih_2019-08-01': 'agustos', 'tarih_2019-09-01': 'eylul'
                         , 'tarih_2019-10-01': 'ekim', 'tarih_2019-11-01': 'kasim', 'tarih_2019-12-01': 'aralik'}, inplace=True)

In [49]:
one_hot = pd.get_dummies(tarih2020[['tarih','urun','kategori','uretimyeri','market','sehir','besin']])
tarih2020 = tarih2020.drop(['tarih','urun','kategori','uretimyeri','market','sehir','besin'],axis = 1)

tarih2020 = tarih2020.join(one_hot)
tarih2020.rename(columns={'tarih_2020-01-01': 'ocak', 'tarih_2020-02-01': 'subat', 'tarih_2020-03-01': 'mart'
                         , 'tarih_2020-04-01': 'nisan', 'tarih_2020-05-01': 'mayis', 'tarih_2020-06-01': 'haziran'
                         , 'tarih_2020-07-01': 'temmuz', 'tarih_2020-08-01': 'agustos', 'tarih_2020-09-01': 'eylul'
                         , 'tarih_2020-10-01': 'ekim', 'tarih_2020-11-01': 'kasim', 'tarih_2020-12-01': 'aralik'}, inplace=True)

In [50]:
aylar=['ocak', 'subat', 'mart', 'nisan','mayis','haziran', 'temmuz','agustos', 'eylul', 'ekim', 'kasim', 'aralik']
i=61
for ay in aylar:
    frame="demo"+str(ay)
    frame=test[test[ay]==1].iloc[:,1:2]
    frame[str(ay)]=i
    test.drop(ay,axis=1,inplace=True)
    test=pd.concat([test,frame],axis=1)
    i+=1
test=test.fillna(0)

'''aylartest=test.iloc[:,92:]
test.drop(aylar,axis=1,inplace=True)
test=pd.concat([aylartest,test],axis=1)'''

'aylartest=test.iloc[:,92:]\ntest.drop(aylar,axis=1,inplace=True)\ntest=pd.concat([aylartest,test],axis=1)'

In [51]:
test.head(-5)

,besin,urun_Armut,urun_Bakla-kuru,urun_Bakla-taze,urun_Bamya,urun_Barbunya-kuru,urun_Bezelye-taze,urun_Biber-yeşil,urun_Brüksel laha.,urun_Bulgur,...,mart,nisan,mayis,haziran,temmuz,agustos,eylul,ekim,kasim,aralik
0,120,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,103,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,160,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,354,0,1,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,72,0,0,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45494,77,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72.0
45495,41,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72.0
45496,49,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72.0
45497,74,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72.0
45498,57,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,72.0

In [52]:
aylar=['ocak', 'subat', 'mart', 'nisan','mayis','haziran', 'temmuz','agustos', 'eylul', 'ekim', 'kasim', 'aralik']
i=1
for ay in aylar:
        frame="demo"+str(ay)
        frame=tarih2016[tarih2016[ay]==1].iloc[:,2:3]
        frame[str(ay)]=i
        tarih2016.drop(ay,axis=1,inplace=True)
        tarih2016=pd.concat([tarih2016,frame],axis=1)
        i+=1
tarih2016=tarih2016.fillna(0)

In [53]:
tarih2016.head(-5)

,fiyat,besin,urun_Armut,urun_Bakla-kuru,urun_Bakla-taze,urun_Bamya,urun_Barbunya-kuru,urun_Bezelye-taze,urun_Biber-yeşil,urun_Brüksel laha.,...,mart,nisan,mayis,haziran,temmuz,agustos,eylul,ekim,kasim,aralik
44161,44.24,120,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
40369,42.94,120,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0
42186,42.27,120,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
44477,42.04,120,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
36577,42.02,120,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
822,0.75,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
980,0.75,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
585,0.75,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3508,0.75,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1770,0.75,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
aylar=['ocak', 'subat', 'mart', 'nisan','mayis','haziran', 'temmuz','agustos', 'eylul', 'ekim', 'kasim', 'aralik']
i=13
for ay in aylar:
    frame="demo"+str(ay)
    frame=tarih2017[tarih2017[ay]==1].iloc[:,2:3]
    frame[str(ay)]=i
    tarih2017.drop(ay,axis=1,inplace=True)
    tarih2017=pd.concat([tarih2017,frame],axis=1)
    i+=1
tarih2017=tarih2017.fillna(0)

In [55]:
aylar=['ocak', 'subat', 'mart', 'nisan','mayis','haziran', 'temmuz','agustos', 'eylul', 'ekim', 'kasim', 'aralik']
i=25
for ay in aylar:
    frame="demo"+str(ay)
    frame=tarih2018[tarih2018[ay]==1].iloc[:,2:3]
    frame[str(ay)]=i
    tarih2018.drop(ay,axis=1,inplace=True)
    tarih2018=pd.concat([tarih2018,frame],axis=1)
    i+=1
tarih2018=tarih2018.fillna(0)

In [56]:
aylar=['ocak', 'subat', 'mart', 'nisan','mayis','haziran', 'temmuz','agustos', 'eylul', 'ekim', 'kasim', 'aralik']
i=37
for ay in aylar:
    frame="demo"+str(ay)
    frame=tarih2019[tarih2019[ay]==1].iloc[:,2:3]
    frame[str(ay)]=i
    tarih2019.drop(ay,axis=1,inplace=True)
    tarih2019=pd.concat([tarih2019,frame],axis=1)
    i+=1
tarih2019=tarih2019.fillna(0)

In [57]:
aylar=['ocak', 'subat', 'mart', 'nisan','mayis','haziran', 'temmuz','agustos', 'eylul', 'ekim', 'kasim', 'aralik']
i=49
for ay in aylar:
    frame="demo"+str(ay)
    frame=tarih2020[tarih2020[ay]==1].iloc[:,2:3]
    frame[str(ay)]=i
    tarih2020.drop(ay,axis=1,inplace=True)
    tarih2020=pd.concat([tarih2020,frame],axis=1)
    i+=1
tarih2020=tarih2020.fillna(0)

In [58]:
frames = [tarih2016, tarih2017, tarih2018,tarih2019,tarih2020]
result = pd.concat(frames, ignore_index=False)

In [59]:
result.tail(-5)

,fiyat,besin,urun_Armut,urun_Bakla-kuru,urun_Bakla-taze,urun_Bamya,urun_Barbunya-kuru,urun_Bezelye-taze,urun_Biber-yeşil,urun_Brüksel laha.,...,mart,nisan,mayis,haziran,temmuz,agustos,eylul,ekim,kasim,aralik
42660,42.01,120,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
43529,41.99,120,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
42818,41.97,120,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
45425,41.88,120,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
42897,41.81,120,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195636,1.83,247,0,0,0,0,0,0,0,0,...,0.0,52.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
182601,1.83,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
191844,1.80,247,0,0,0,0,0,0,0,0,...,51.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
188052,1.80,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
184260,1.77,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
(len(result) - result.count()).sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of fiyat              0
besin              0
urun_Armut         0
urun_Bakla-kuru    0
urun_Bakla-taze    0
                  ..
agustos            0
eylul              0
ekim               0
kasim              0
aralik             0
Length: 112, dtype: int64>

In [61]:
result=result.sort_index()
result=result.drop("besin",axis=1)

In [68]:
grup1 = ["urun_Bakla-kuru","urun_Bamya","urun_Barbunya-kuru","urun_Domates","urun_Fasulye-kuru","urun_Fasulye-taze","urun_Havuç","urun_Salatalık","urun_Kabak","urun_Karnabahar",
            "urun_Kereviz-baş","urun_Kırmızı-pancar","urun_Lahana","urun_Marul","urun_Mercimek-kuru","urun_Nohut","urun_Pancar","urun_Patates","urun_Patlıcan","urun_Pazı",
            "urun_Pırasa","urun_Semizotu","urun_Buğday ekmeği","urun_Bulgur","urun_Erişte","urun_Makarna","urun_Mısır","urun_Nişasta","urun_Pilav","urun_Pirinç unu","urun_Şehriye",
            "urun_Tarhana","urun_yumurta","urun_krema","urun_tam buğday ekmek","urun_Armut","urun_Çilek","urun_Elma","urun_Erik türleri","urun_İncir","urun_Karadut","urun_Karpuz",
            "urun_Kavun","urun_Kayısı","urun_Kiraz","urun_Limon","urun_Mandalina","urun_Muz","urun_Nar","urun_Portakal","urun_Şeftali","urun_Üzüm","urun_Vişne"]

grup2 = ["urun_tavuk","urun_hindi","urun_Bakla-taze","urun_Bezelye-taze","urun_Biber-yeşil","urun_Enginar","urun_Ispanak","urun_Mantar",
            "urun_Mısır unu","urun_Yulaf unu","urun_beyaz peynir","urun_Kaşar peyniri","urun_yoğurt","urun_sucuk","urun_salam","urun_sosis",
            "urun_kaymak","urun_tereyağ","urun_fındık","urun_fıstık","urun_kaju","urun_badem","urun_ceviz"]

grup3 = ["urun_kıyma","urun_Brüksel laha.","urun_bal"]

In [69]:
on=result
yirmi=result
otuz=result
grup1 = grup2 + grup3
grup2 = grup1 + grup3
grup3 = grup1 + grup2

In [71]:
for row in on.iterrows():
    for urun in grup1:
        if(row[urun]==1):
            on.drop(row.index)

In [65]:
for urun in grup2:
    yirmi.drop(urun, inplace = True)

In [66]:
for urun in grup3:
    otuz.drop(urun, inplace = True)

In [72]:
on.head()

Empty DataFrame
Columns: [fiyat, urun_Armut, urun_Bakla-kuru, urun_Bakla-taze, urun_Bamya, urun_Barbunya-kuru, urun_Bezelye-taze, urun_Biber-yeşil, urun_Brüksel laha., urun_Bulgur, urun_Buğday ekmeği, urun_Domates, urun_Elma, urun_Enginar, urun_Erik türleri, urun_Erişte, urun_Fasulye-kuru, urun_Fasulye-taze, urun_Havuç, urun_Ispanak, urun_Kabak, urun_Karadut, urun_Karnabahar, urun_Karpuz, urun_Kavun, urun_Kayısı, urun_Kaşar peyniri, urun_Kereviz-baş, urun_Kiraz, urun_Kırmızı-pancar, urun_Lahana, urun_Limon, urun_Makarna, urun_Mandalina, urun_Mantar, urun_Marul, urun_Mercimek-kuru, urun_Muz, urun_Mısır, urun_Mısır unu, urun_Nar, urun_Nişasta, urun_Nohut, urun_Pancar, urun_Patates, urun_Patlıcan, urun_Pazı, urun_Pilav, urun_Pirinç unu, urun_Portakal, urun_Pırasa, urun_Salatalık, urun_Semizotu, urun_Tarhana, urun_Vişne, urun_Yulaf unu, urun_badem, urun_bal, urun_beyaz peynir, urun_ceviz, urun_fındık, urun_fıstık, urun_hindi, urun_kaju, urun_kaymak, urun_krema, urun_kıyma, urun_salam, urun_sosis, urun_sucuk, urun_tam buğday ekmek, urun_tavuk, urun_tereyağ, urun_yoğurt, urun_yumurta, urun_Çilek, urun_Üzüm, urun_İncir, urun_Şeftali, urun_Şehriye, kategori_et, kategori_kuruyemiş, kategori_meyve, kategori_sebze ve bakliyat, kategori_süt ürünleri ve kahvaltılık, kategori_tahıl ve ürünleri, uretimyeri_Yurt dışı, uretimyeri_Yurt içi, market_B, market_C, market_M, sehir_A, sehir_B, sehir_C, sehir_D, sehir_E, sehir_F, sehir_G, sehir_H, ocak, ...]
Index: []

[0 rows x 111 columns]

In [357]:
tarih2020.tail()

,fiyat,besin,urun_Armut,urun_Bakla-kuru,urun_Bakla-taze,urun_Bamya,urun_Barbunya-kuru,urun_Bezelye-taze,urun_Biber-yeşil,urun_Brüksel laha.,...,mart,nisan,mayis,haziran,temmuz,agustos,eylul,ekim,kasim,aralik
195636,1.83,247,0,0,0,0,0,0,0,0,...,0.0,52.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
182601,1.83,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
191844,1.80,247,0,0,0,0,0,0,0,0,...,51.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
188052,1.80,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
184260,1.77,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [358]:
tarih2019.tail()

,fiyat,besin,urun_Armut,urun_Bakla-kuru,urun_Bakla-taze,urun_Bamya,urun_Barbunya-kuru,urun_Bezelye-taze,urun_Biber-yeşil,urun_Brüksel laha.,...,mart,nisan,mayis,haziran,temmuz,agustos,eylul,ekim,kasim,aralik
137097,1.45,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
143654,1.44,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
136702,1.44,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
141047,1.43,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
137255,1.42,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [359]:
tarih2018.tail()

,fiyat,besin,urun_Armut,urun_Bakla-kuru,urun_Bakla-taze,urun_Bamya,urun_Barbunya-kuru,urun_Bezelye-taze,urun_Biber-yeşil,urun_Brüksel laha.,...,mart,nisan,mayis,haziran,temmuz,agustos,eylul,ekim,kasim,aralik
98150,1.09,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96886,1.09,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
91751,1.08,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94358,1.07,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93094,1.06,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [360]:
tarih2017.tail()

,fiyat,besin,urun_Armut,urun_Bakla-kuru,urun_Bakla-taze,urun_Bamya,urun_Barbunya-kuru,urun_Bezelye-taze,urun_Biber-yeşil,urun_Brüksel laha.,...,mart,nisan,mayis,haziran,temmuz,agustos,eylul,ekim,kasim,aralik
47274,0.88,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46484,0.87,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50197,0.87,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45931,0.87,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46405,0.86,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [361]:
tarih2016.tail()

,fiyat,besin,urun_Armut,urun_Bakla-kuru,urun_Bakla-taze,urun_Bamya,urun_Barbunya-kuru,urun_Bezelye-taze,urun_Biber-yeşil,urun_Brüksel laha.,...,mart,nisan,mayis,haziran,temmuz,agustos,eylul,ekim,kasim,aralik
2323,0.75,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2481,0.75,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7221,0.74,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
427,0.74,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
190,0.73,247,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0